<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva receta</title>
</head>
<body>
    <div>
        <nav>
            <h1>Nueva Receta</h1>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Cerrar Sesión</a>
        </nav>
        {% with messages = get_flashed_messages(category_filter=['receta']) %}
            {% if messages %}
                <div>
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <form action="/create/appointment" method="post">
            <input type="hidden" name="user_id" value="{{user.id}}">
            <div>
                <label for="name">Nombre de la Cita</label>
                <input type="text" name="name" id="name">
            </div>
            <div>
                <label for="status">Status:</label>
                <select name="status" id="status">
                    <option disabled selected hidden>Selecciona el status</option>
                    <option value="Pending">Pending</option>
                    <option value="Missed">Missed</option>
                    <option value="Done">Done</option>
                </select>
            </div>
            <div>
                <label for="date_made">Fecha:</label>
                <input type="date" name="date_made" id="date_made">
            </div>
            <div>
                <input type="submit" value="Crear Cita">
            </div>
        </form>
        
    </div>
</body>
</html>
