<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar Cita</title>
</head>
<body>
    <div>
        <nav>
            <h1>Mostrar Cita</h1>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout" >Cerrar Sesión</a>
        </nav>
        <div>
            Nombre: {{appointment.name}}
        </div>
        <div>
            Status: {{appointment.status}}
        </div>
        <div>
            Fecha creación: {{appointment.date_made}}
        </div>
    </div>
</body>
</html>